* {
	font-family: 'Roboto Slab', serif;
}

body {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	align-items: center;
	background-image: url(/assets/img/01-prekrasnoe.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.wrapper{
	display: flex;
	justify-content: center;
	position: relative;
	
}

.filter{
	position: fixed;
	backdrop-filter: blur(12px) sepia(90%);;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	opacity: 1;
	
	transition: all 0.4 ease-out;

}

.player{
	
	width: 450px;
	height: 620px;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	background-color: #E2C799;
	/*border: 2px solid black;*/

}
.song-cover-volume-block{
	display: flex;
	justify-content: space-between;
}

.song-cover{
	display: flex;
	justify-content: center;
	width: 50%;
	height: 90%;
	overflow: hidden;
	border-radius: 20px;
	border: #C08261 2px solid;
	
	margin-top: 20px;
}

.song-cover img{
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	
}
.volume-bar{
	border-radius: 20px;
	/*border: 2px solid black;*/
	cursor: pointer;
	width: 22px;
	height: 26vh;
	
	display: flex;
	flex-direction: column-reverse;
	margin-top: 20px;
	background-color: #9A3B3B;
	margin-left: 20px;
}
.volume-slider{
	border-radius: 20px;
	background-color: #F2ECBE;
	height: 75%;
	width: 22px;
	
	pointer-events: none;
}
.speakers{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-right: 20px;
	border-radius: 20px;
	border: 2px solid #C08261;
}

.speaker-01, .speaker-02{
	width: 100px;
	height: 100px;
	
}
.artist{
	font-weight: 600;
	margin-bottom: 5px;
	
}
.title{
	margin-top: 5px;
}

.control-block{
	display: flex;
	justify-content: center;
	gap: 16px;
	margin-top: 25px;
}
.play-pause-block{
	display: flex;
	flex-direction: column;
	justify-content: center;
}



.play-button{
	cursor: pointer;
	width: 64px;
	height: 64px;
	background-color: #9A3B3B;
	border-radius: 50%;
}
.play-button-hide{
	display: none;
}

.pause-button{
	cursor: pointer;
	width: 64px;
	height: 64px;
	display: none;
	background-color: #9A3B3B;
	border-radius: 50%;
}
.pause-button-visible{
	display: block;
}

.song-info{
	width: 250px;
	overflow: hidden;
	border-radius: 20px;
	/*border: solid black 2px;*/
	background-color: #F2ECBE;
	margin: 0 5px;
	padding: 0 10px;

}


.text-animated{
	white-space: nowrap;
	transform: translateX(100%);
	animation: my-animation 15s linear infinite;

}

@keyframes my-animation {
	from {
	  -moz-transform: translateX(100%);
	  -webkit-transform: translateX(100%);
	  transform: translateX(50%);
	}
	to {
	  -moz-transform: translateX(-100%);
	  -webkit-transform: translateX(-100%);
	  transform: translateX(-100%);
	}
}

.next-prev-button-block{
	display: flex;
	flex-direction: column;
}

.next-prev-button-block{
	display: flex;
	justify-content: space-around;
}

.back-button, .next-button{
	cursor: pointer;
	width: 36px;
	height: 36px;
	background-color: #9A3B3B;
	border-radius: 50%;
	
}

.back-button img{
	background-color: #9A3B3B;
	border-radius: 50%;
}


.monitor{
	display: flex;
	justify-content: space-between;
}
.current_track_time{
	margin-left: 40px;
}
.track-duration{
	margin-right: 65px;
}



.tape_counter{
	width: auto;
	height: 22px;
	border-radius: 20px;
	/*border: 2px solid black;*/
	position: relative;

	background-color: #9A3B3B;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 25px;
}

.marker{
	width: 22px;
	height: 22px;
	background-color: #F2ECBE;
	position: relative;
	border-radius: 20px;
	
}

.playlist{
	/*border: 2px solid black;*/
	background-color: #F2ECBE;
	border-radius: 20px;
	cursor: pointer;
	height: 130px;
	overflow-y: auto;
	margin-left: 20px;
	margin-right: 20px;
	list-style-type: decimal;
	position: relative;
}
.playlist li{
	border-radius: 10px;
	padding-left: 5px;
	white-space: nowrap;
	font-size: 17px;	
	
}

.playlist li:hover{
	background-color: #9A3B3B;
	color: #F2ECBE;
}

.selected-song{
	background-color: #9A3B3B;
	color: #F2ECBE;
}

.playlist::-webkit-scrollbar{
		background-color: #9A3B3B;
		width: 18px;
		height: 18px;
		/*border: 1px solid black;*/
		border-radius: 20px;
		
		position: absolute;
		left: 0;
}
.playlist::-webkit-scrollbar-thumb {
		background-color: #C08261;
		/*border: 1px solid black;*/
		border-radius: 10px;
	
}
.playlist::-webkit-scrollbar-button  {
		background-color: #E2C799;
		width: 18px;
		height: 18px;
		/*border: 1px solid black;*/
		border-radius: 33px;

}
.footer{
	display: flex;
	justify-content: space-around;
	color: #C08261;
}


.logo img{
	height: 26px;
	width: 50px;
	
	
}

.git svg{
	height: 26px;
	width: 30px;
	
}

.filter_add{
	filter: invert(52%) sepia(62%) saturate(306%) hue-rotate(336deg) brightness(94%) contrast(92%);
}