*{
	border: silver 1px solid;
}

body {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	align-items: center;
	background-image: url(/assets/img/01-prekrasnoe.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.wrapper{
	display: flex;
	justify-content: center;
	position: relative;
	
}

.filter{
	position: fixed;
	backdrop-filter: blur(12px) sepia(90%);;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	opacity: 1;
	
	transition: all 0.4 ease-out;

}

.player{
	width: 600px;
	height: 600px;
	display: flex;
	flex-direction: column;
	background-color: aliceblue;
}
.song-cover-volume-block{
	display: flex;
}

.song-cover{
	display: flex;
	justify-content: center;
	width: 500px;
	height: 26vh;
	overflow: hidden;
}
.song-cover img{
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.volume-bar{
	border: 1px solid rosybrown;
	cursor: pointer;
	width: 22px;
	height: 26vh;
	margin: auto;
	display: flex;
	flex-direction: column-reverse;
}
.volume-slider{
	background-color: aquamarine;
	height: 75%;
	width: 22px;
	
	pointer-events: none;
}

.control-block{
	display: flex;
	justify-content: center;
	gap: 30px;
}
.play-pause-block{
	display: flex;
	flex-direction: column;
	justify-content: center;
}



.play-button{
	cursor: pointer;
	width: 64px;
	height: 64px;
}
.play-button-hide{
	display: none;
}

.pause-button{
	cursor: pointer;
	width: 64px;
	height: 64px;
	display: none;
}
.pause-button-visible{
	display: block;
}

.song-info{
	width:200px;
	overflow: hidden;
}

.text-animated{
	white-space: nowrap;
	transform: translateX(100%);
	animation: my-animation 15s linear infinite;
}

@keyframes my-animation {
	from {
	  -moz-transform: translateX(100%);
	  -webkit-transform: translateX(100%);
	  transform: translateX(100%);
	}
	to {
	  -moz-transform: translateX(-100%);
	  -webkit-transform: translateX(-100%);
	  transform: translateX(-100%);
	}
}

.next-prev-button-block{
	display: flex;
	flex-direction: column;
}

.next-prev-button-block{
	display: flex;
	justify-content: space-around;
}

.back-button, .next-button{
	cursor: pointer;
	width: 36px;
	height: 36px;
}


.monitor{
	display: flex;
	justify-content: space-between;
}
.current_track_time{
	margin-left: 5px;
}
.track-duration{
	margin-right: 5px;
}



.tape_counter{
	width: auto;
	height: 15px;
	border: 1px solid rosybrown;
	position: relative;
}

.marker{
	width: 15px;
	height: 15px;
	background-color: aquamarine;
	position: relative;
	left: 1px;
}

.playlist{
	cursor: pointer;
	height: 80px;
	overflow-y: scroll;
}